{% extends "layout.html" %}

{% block body %}
<h1>Git Portfolio</h1>
<p>Manage all your Git repositories, organisations, providers from one place.</p>

<table style="width:100%">
  <tr>
    <th>Step</th>
    <th>Status</th>
  </tr>
  <tr>
    <td>Accounts Count:</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Repos Count:</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Organisations Count:</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Organisations Count:</td>
    <td>0</td>
  </tr>
  
</table>

{% endblock %}

{% block css %}
<style>

h1, h2, h3, h4, h5, h6, p {
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

</style>
{% endblock %}

{% block js %}
<script type="text/javascript">
</script>
{% endblock %}